<h1>Editing Work</h1>

<%= render 'form' %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
<script>
$('#work_start_time').change(function(){
		var work_end_time = new Date($('#work_end_time').val());
		var work_start_time = new Date($('#work_start_time').val());
		var end_time = work_end_time.getTime();
		var start_time = work_start_time.getTime();
		var diffMs = end_time  - start_time;
		var hours = diffMs/(60*60*1000);
		$('#work_note').val(hours);
});

$('#work_end_time').change(function(){
		var work_end_time = new Date($('#work_end_time').val());
		var work_start_time = new Date($('#work_start_time').val());
		var end_time = work_end_time.getTime();
		var start_time = work_start_time.getTime();
		var diffMs = end_time  - start_time;
		var hours = diffMs/(60*60*1000);
		$('#work_note').val(hours);
});
</script>