<h1>Editing Work</h1>

<%= render 'form' %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
<script>
$('#work_end_time').change(function(){
		end_time = $('#work_end_time').val();
		start_time = $('#work_start_time').val();
		diffMs = end_time.getTime() - start_time.getTime();
	$('#work_note').val(diffMs);
});
</script>