<h1>Editing Work</h1>

<%= render 'form' %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
<script>
$('#work_end_time').change(function(){
		work_end_time = $('#work_end_time').val();
		work_start_time = $('#work_start_time').val();
		end_time = work_end_time.getTime();
		start_time = work_start_time.getTime();
		diffMs = end_time  - start_time;
		hours = diffMs/(60*60*1000);
		$('#work_note').val(hours);
});
</script>