<% @title = '管理者トップページ' %>
<h1><%= @title %></h1>
<a href="./staffs">社員一覧</a></br>
<a href="./orderers">発注元一覧</a></br>
<a href="./agreements">契約一覧</a></br>
<a href="./calendars">カレンダー一覧</a></br>
<a href="./works">日報一覧</a></br>