<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<body>
<div class="container"> <!-- container で全体を囲む -->
  <div class="row"> <!-- row で列を作る -->
    <div class="col-xl-1"> <!-- 12分割のグリッドシステムの4を使用 -->
      <a href="./staffs">社員一覧</a>
      <a href="./orderers">発注元一覧</a>
      <a href="./constractions">契約一覧</a>
      <a href="./calendars">カレンダー一覧</a>
      <a href="./works">日報一覧</a></br>
    </div>  
    <div class="col-xl-7"> <!-- 12分割のグリッドシステムの8を使用 -->
      <%= yield %>
    </div>
  </div>
</div>
</body>
</body>
</html>
